<h1>Bonjour {{{firstName}}} {{{lastName}}}</h1>

<h2>Email de confirmation</h2>

<p>Bienvenue sur WeatherApp, vous vous êtes inscrit sur notre application. Vous
  devez valider votre adresse email</p>
<p>veuillez cliquer sur le lien ci-contre
  <a
<<<<<<< HEAD
    href="http://localhost:8000/user/confirm/{{{token}}}"
  >http://localhost:8000/user/confirm/{{{token}}}</a></p>
=======
    href="http://localhost:8000/user/confirmation/{{{token}}}"
  >http://localhost:8000/user/confirmation/{{{token}}}</a></p>
>>>>>>> 1d1f7709fc61f79942e7d291598bcb23ce229233
